img {
  width: 100%;
}
.logo {
  width: 100px;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid lightgrey;
  margin-bottom: 20px;
}
.featured {
  display: flex;
  flex-wrap: wrap;
}
.feat {
  width: 100%;
}
/* .img1, .img2, .img3 {
  width: 300px;
} */
@media screen and (min-width: 768px;) {
  .img1, .img2, .img3 {
    width: 33%;
  }
}
